#navbar{
    transition: all 0.2s ease-in-out;
}
header{
    padding-top: 150px;
    padding-bottom: 120px;
}
.main-bg{
    background-color: rgb(26, 188, 156);

}
.line{
    height: 3px;
    width: 100px;

}
.item{
    cursor: pointer;
    position: relative;
   

}

.overlay{
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;  transition: all 0.2s ease-in;
}
.item:hover .overlay{
  
    background-color: rgba(26, 188, 156,0.8);
    z-index: 55;
}
.item:hover .item-icon{
    opacity: 1;
}

.item-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: 900;
    color: white;
    opacity: 0;
    z-index: 99;
}

.downloadBtn{
    width: max-content;
    background-color: transparent;
    font-weight: 700;
    border: 2px solid white;
    transition: all 0.2s ease-in;
    color: white;
}

.downloadBtn:hover{
    background-color: white;
    color: black;
}
section{
    padding-top: 150px;
    padding-bottom: 120px;
}